<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", users_path(@user), method: :destroy,
                                  data: { confirm: "Are you sure?" } %>
  <% end %>
</li>